/*COLOR LOGO: #438bca*/


/*COLOR LOGO SOFT: 9AB7E0*/


/*BACKGROUND-COLOR: #EDF4FA*/


/*TEXT-HEDADER-COLOR #125996*/

h3 {
  font-size: 1.7rem;
  line-height: 110%;
  margin: 1.46rem 0 1.168rem 0;
  color: #A1C5D1;
}

.hint {
  width: 300px !important;
}

.top-container {
  width: 90%;
  margin: 0 auto;
}

.search-container {
  width: 70%;
  margin: 0 auto;
}

.grid-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.title-container {
  width: 100%;
  padding: 2em;
}

.logo-container {
  margin: 0 auto;
  width: 50%;
  padding: 1em;
}

.confirm-container {
  width: 70%;
  margin: 0 auto;
  text-align: right;
}

.right {
  text-align: right;
}

.nav-first {
  margin-top: 15px;
  box-shadow: none;
  border: none;
  border-bottom: 2px solid #438bca;
}

.usr-settings {
  font-size: 35px;
  cursor: pointer;
}

.usr-settings:hover {
  color: #125996;
}

.usr-settings-content {
  width: 90%;
  height: 40px;
  margin: 0 auto;
}

.usr-settings-inner {
  font-size: 1.1em;
  float: right;
}

.usr-settings-inner>span {
  font-weight: bold;
  color: #125996;
}


/*Fixes materialize*/

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 2rem;
  width: 100%;
  font-size: 1rem;
  /* margin: 0 0 20px 0; */
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.3s;
}

select {
  display: inline !important;
  width: 400px;
}
