<div class="top-container">
  <div>
    Impresión de comprobante
  </div>

  <div class="container">
    <div *ngIf="sale" id="ticket">
      <div class="ticket-container">
        <div class="main-span-ticket">
          <div class="logo-container">
            <img class="logo" src="/assets/images/logo.png" />
            <br />
            <p class="enhaced-ticket bold">
              {{getAsset("name")}}
              <br /> <br />
            </p>
          </div>

          <div class="top-container">
            {{getAsset("invoice").address}}<br /> CP: {{getAsset("invoice").cp}} RFC: {{getAsset("invoice").rfc}}
            <br />
          </div>
          <hr />

          <div class="right">
            <span class="enhaced-ticket">{{sale.timestamp | date: 'dd/MM/yyyy hh:mm' }}</span>
          </div>

          <div>
            <table class="client-opts">
              <tr>
                <td class="bold">
                  Cliente:
                </td>
                <td>
                  {{paymentModel.client}}
                </td>
              </tr>
              <tr>
                <td class="bold">
                  Pago:
                </td>
                <td>
                  {{paymentModel.type}}
                </td>
              </tr>
              <tr>
                <td class="bold">
                  Cajero:
                </td>
                <td>
                  cajero
                </td>
              </tr>
            </table>
          </div>
          <br />
          <hr />
          <table class="sale">
            <thead>
              <td class="col1">
                Cant
              </td>
              <td class="col2">
                Desc<br /> $$ Descuento
              </td>
              <td class="col3 bold">
                prec/u<br />importe
              </td>
            </thead>
            <tbody>
              <tr *ngFor="let m of sale.mis">
                <td class="qty-container">
                  {{m.qty}}
                </td>
                <td class="mi-container">
                  {{m.mi}}<br /> <br /> ${{(m.qty*(m.sale_price - m.price_discount)).toFixed(2)}}
                </td>
                <td class="price-container">
                  ${{m.sale_price}}<br /> <br /> ${{m.qty*m.price_discount}}
                </td>
              </tr>
            </tbody>

          </table>

          <div class="totals right">
            <div>
              <hr />
              <table>
                <tr>
                  <td>
                    IVA:
                  </td>
                  <td>
                    <span class="enhaced bold">$ {{getCat()}}</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    Subtotal:
                  </td>
                  <td>
                    <span class="enhaced bold">$ {{getSubtotal()}}</span>
                  </td>
                </tr>
              </table>
              <hr />
              <table>
                <tr>
                  <td>
                    Ahorro:
                  </td>
                  <td>
                    <span class="enhaced bold">$ {{getSaving()}}</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    Total:
                  </td>
                  <td>
                    <span class="enhaced bold">$ {{getTotalDisc()}}</span>
                  </td>
                </tr>

              </table>
              <hr />
              <div *ngIf="!paymentModel.isCard">
                <table>
                  <tr>
                    <td>
                      Su pago:
                    </td>
                    <td>
                      $ {{paymentModel.payment}}
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Cambio:
                    </td>
                    <td>
                      $ {{paymentModel.change}}
                    </td>
                  </tr>
                </table>
                <hr />
              </div>
              <hr />
            </div>
          </div>

          <div class="text-total">
            <table>
              <tr>
                <td>
                  Son:
                </td>
                <td>
                  {{getQty()}}
                </td>
              </tr>
              <tr>
                <td>
                  Total de artículos:
                </td>
                <td>
                  {{getQty()}}
                </td>
              </tr>
            </table>
          </div>

          <hr />
          <div class="top-container">
            {{getAsset("local").address}}<br /> CP: {{getAsset("local").cp}}<br /> tels: {{getAsset("local").tel}}
          </div>
          <hr />

          <div class="slogan enhaced-ticket">
            "Queremos darte el servicio que mereces a un precio justo."
          </div>
          <br />
          <div class="slogan enhaced-ticket">
            Gracias por su compra
          </div>
          <br /><br />
        </div>
      </div>
    </div>
  </div>

  <div class="right">
    <button (click)="print()" class="waves-effect waves-light btn">Imprimir</button>
  </div>
</div>
