<div class="top-container">
  <div>
    Impresión de comprobante
  </div>

  <div class="container">
    <div *ngIf="sale" id="ticket">
      <div class="ticket-container">
        <div class="main-span-ticket">
          <div class="logo-container">
            <img class="logo" src="/assets/images/logo.png" />
            <br />
            <p class="enhaced-ticket bold">
              {{getAsset("name")}}
              <br /> <br />
            </p>
          </div>

          <div class="top-container">
            {{getAsset("invoice").address}}<br /> CP: {{getAsset("invoice").cp}} RFC: {{getAsset("invoice").rfc}}
            <br />
          </div>
          <hr />

          <div class="right">
            <span class="enhaced-ticket">{{sale.timestamp | date: 'dd/MM/yyyy hh:mm' }}</span>
          </div>

          <div>
            <table class="client-opts">
              <tr>
                <td class="bold">
                  Cliente:
                </td>
                <td>

                </td>
              </tr>
              <tr>
                <td class="bold">
                  Pago:
                </td>
                <td>

                </td>
              </tr>
              <tr>
                <td class="bold">
                  Cajero:
                </td>
                <td>

                </td>
              </tr>
            </table>
          </div>
          <br />
          <hr />
          <table class="sale">
            <thead>
              <td class="col1">
                Cant
              </td>
              <td class="col2">
                Desc<br /> $$ desc
              </td>
              <td class="col3 bold">
                prec<br />imp
              </td>
            </thead>
            <tbody>
              <tr *ngFor="let m of sale.mis">
                <td class="qty-container">
                  {{m.qty}}
                </td>
                <td class="mi-container">
                  {{m.mi}}<br /> <br /> otra cosa
                </td>
                <td class="price-container">
                  $ {{m.price_discount}}<br /> <br /> $ otra cosa
                </td>
              </tr>
            </tbody>

          </table>

          <div class="totals right">
            <div>
              <hr />
              <table>
                <tr>
                  <td>
                    Subtotal:
                  </td>
                  <td>
                    <span class="enhaced bold">$ {{getSaleTotal()}}</span>
                  </td>
                </tr>
                <tr>
                  <td>
                    Ahorro:
                  </td>
                  <td>

                  </td>
                </tr>
                <tr>
                  <td>
                    Redondeo:
                  </td>
                  <td>

                  </td>
                </tr>
              </table>
              <hr />
              <table>
                <tr>
                  <td>
                    Total:
                  </td>
                  <td>

                  </td>
                </tr>

              </table>
              <hr />
              <table>
                <tr>
                  <td>
                    Su pago:
                  </td>
                  <td>

                  </td>
                </tr>
                <tr>
                  <td>
                    Cambio:
                  </td>
                  <td>

                  </td>
                </tr>
              </table>
              <hr />
            </div>
          </div>

          <div class="text-total">
            son: {{getSaleTotal()}}
            <br /> Total de artículos:
          </div>

          <hr />
          <div class="top-container">
            {{getAsset("local").address}}<br /> CP: {{getAsset("local").cp}}<br /> tels: {{getAsset("local").tel}}
          </div>
          <hr />

          <div class="slogan enhaced-ticket">
            "Queremos darte el servicio que mereces a un precio justo."
          </div>
          <br />
          <div class="slogan enhaced-ticket">
            Gracias por su compra
          </div>
          <br /><br />
        </div>
      </div>
    </div>
  </div>

  <div class="right">
    <button (click)="print()" class="waves-effect waves-light btn">Imprimir</button>
  </div>
</div>
