<div class="top-container">

  <div *ngIf="products?.length >0 && !pageModel.toConfirm">
    <div class="sale-container">
      <div class="sale">
        <div class="enhaced">
          Venta actual
        </div>


        <div class="info">
          <ul>
            <li *ngFor="let p of products">
              <table>
                <tr>
                  <td>
                    <span class="ex">{{p.qty}}</span>
                  </td>
                  <td>
                    <span>{{p.name}}</span>
                  </td>
                  <td>
                    <span class="ex">{{p.sale_price | number : '1.2-2'}}</span>
                  </td>
                  <td>
                    <span class="ex">{{p.price_discount | number : '1.2-2' }}</span>
                  </td>
                  <td>
                    <i class="remove material-icons" (click)="removeMi(p.mi)">close</i>
                  </td>
                </tr>
              </table>
            </li>
          </ul>

        </div>
        <br />
        <div class="total right">
          Total: <span>$ {{saleTotal | number : '1.2-2'}}</span>
        </div>
        <br />
        <button (click)="confirmSale()" class="waves-effect waves-light btn">VENDER</button>
      </div>

    </div>
  </div>

  <div class="search-container" *ngIf="!pageModel.toConfirm">
    <div>
      <table>
        <tr>
          <td>
            Buscar por nombre de estudio
          </td>
        </tr>
        <tr>
          <td>
            <input [(ngModel)]="pageModel.hint" class="hint" (keyup.enter)="findMis()" placeholder="Estudio" />
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="grid-container" *ngIf="!pageModel.toConfirm">
    <ag-grid-angular #agGrid style="width: 100%; height: 200px;" class="ag-fresh" [gridOptions]="gridOptions">
    </ag-grid-angular>
  </div>

  <hr />

  <div *ngIf="selectedMi" class="container">
    <div class="coMeEs_sentence">
      Estudio seleccionado
    </div>
    <div class="selected_mi">
      <table>
        <tr>
          <td class="info">Estudio:</td>
          <td>{{selectedMi.name}}</td>
        </tr>
        <tr>
          <td class="info">Descripción:</td>
          <td> {{selectedMi.description}}</td>
        </tr>
        <tr>
          <td class="info">Precio: </td>
          <td><span class="coMeEs_dark_bold">$ {{selectedMi.price | number : '1.2-2'}}</span></td>
        </tr>
      </table>
    </div>
    <div>
      <div>
        <p class="coMeEs_sentence_small"> ¿El cliente cuenta con código de descuento? Ingresalo </p>
      </div>

      <p>
        <input type="checkbox" class="filled-in" id="m-discount-toggler" [(ngModel)]="pageModel.toggleDiscount" (ngModelChange)="toggleDiscount($event)" />
        <label for="m-discount-toggler">Mostrar opciones de descuento</label>
      </p>

      <div *ngIf="pageModel.toggleDiscount">
        <div class="container">
          <table>
            <tr>
              <td>
                <p>
                  <input name="discountType" type="radio" [(ngModel)]="pageModel.discountType" value="coupon" id="m-coupon" />
                  <label for="m-coupon">Cupón</label>
                </p>
              </td>
              <td>
                <p>
                  <input name="discountType" type="radio" [(ngModel)]="pageModel.discountType" value="ref_mi" id="m-refmi" />
                  <label for="m-refmi">Estudio referenciado</label>
                </p>
              </td>
            </tr>
            <tr>
              <td>
                <input class="hint" [(ngModel)]="pageModel.discountCode" (keyup.enter)="getDiscount()" placeholder="Código de descuento" />
              </td>
            </tr>
          </table>
        </div>

        <div *ngIf="pageModel.notFoundDiscount" class="coMeEs_sentence">
          No se ha encontrado descuento
        </div>

        <div *ngIf="pageModel.discountFound">
          <div class="discount-info">
            <span class="coMeEs_dark_bold">Descuento:</span>
            <span class="enhaced_discount">{{discount | number : '1.2-2'}} %</span>
          </div>
          <button (click)="applyDiscount()" class="waves-effect waves-light btn">Aplicar descuento</button>
        </div>

        <div class="discount-info" class="right" *ngIf="priceDiscount">
          <span class="coMeEs_dark_bold">Precio con descuento:</span>
          <span class="enhaced_price"> $ {{priceDiscount | number : '1.2-2'}}</span>
        </div>
        <br />
        <br />

      </div>

    </div>
    <div class="right">
      <button *ngIf="pageModel.toggleDiscount" (click)="toggleDiscount(false)" class="waves-effect waves-light btn">CANCELAR</button>
      <button (click)="addToSale()" [disabled]="!pageModel.allowAdd" class="waves-effect waves-light btn">Agregar a venta</button>
    </div>
  </div>

  <div class="confirm-container" *ngIf="pageModel.toConfirm">
    <div>
      Por favor confirme los productos. <br /> Si la venta es correcta seleccione el método de pago y oprima "CONFIRMAR",
      <br /> si desea modificarla oprima "REGRESAR".
    </div>
    <table>
      <thead>
        <tr>
          <td>
            Cantidad
          </td>
          <td>
            Estudio
          </td>
          <td>
            Precio de venta
          </td>
          <td>
            Importe unitario
          </td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of products">
          <td>
            <span class="ex">{{p.qty}}</span>
          </td>
          <td>
            <span>{{p.name}}</span>
          </td>
          <td>
            <span class="ex">$ {{p.sale_price | number : '1.2-2'}}</span>
          </td>
          <td>
            <span class="ex">$ {{p.price_discount | number : '1.2-2'}}</span>
          </td>
        </tr>
      </tbody>

    </table>
    <br />
    <div class="total sale-enhace">
      Importe : <span>$ {{getTotal() | number : '1.2-2'}}</span>
    </div>
    <div class="total sale-enhace">
      Total a pagar con descuento: <span>$ {{getTotalDiscount() | number : '1.2-2'}}</span>
    </div>
    <br />
    <br />

    <div class="right">
      <button (click)="showPayment()" class="waves-effect waves-light btn">CONFIRMAR</button>
    </div>
  </div>

</div>

<div id="modal1" class="modal" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
  <div class="modal-content">
    <h4>Confirmación de venta</h4>
    <div>
      Por favor confirme el método de pago para la venta.

      <div class="total sale-enhace">
        Total a pagar: <span>$ {{getTotalDiscount() | number : '1.2-2'}}</span>
      </div>

      <div class="payment">
        <div class="payment-info">
          <div>
            <p>
              <input name="paymentType" type="radio" [(ngModel)]="pageModel.paymentType" value="cash" id="m-payment-cash" />
              <label for="m-payment-cash">Efectivo</label>
            </p>
            <p>
              <input name="paymentType" type="radio" [(ngModel)]="pageModel.paymentType" value="debit" id="m-payment-debit" />
              <label for="m-payment-debit">Tarjeta de débito</label>
            </p>
            <p>
              <input name="paymentType" type="radio" [(ngModel)]="pageModel.paymentType" value="credit" id="m-payment-credit" />
              <label for="m-payment-credit">Tarjeta de crédito</label>
            </p>
          </div>

          <div *ngIf="pageModel.paymentType == 'cash'">
            <div>
              <div>
                Importe recibido:
              </div>
              <div class="sale-enhace">
                $ <input [(ngModel)]="pageModel.amount" class="hint amount sale-enhace" placeholder="Importe" maxlength="5" />
              </div>
            </div>
            <div>
              Cambio:
            </div>
            <div class="sale-enhace change">
              $ {{change() | number : '1.2-2'}}
            </div>
          </div>

          <div *ngIf="pageModel.paymentType == 'credit' || pageModel.paymentType == 'debit'">
            Pago con tarjeta<br /> Si la venta se facturará será necesario capturar <span class="enhaced">los últimos 4 dígitos</span> de la tarjeta.
          </div>

        </div>
      </div>
      <div *ngIf="pageModel.amountError">
        {{pageModel.amountError}}
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a class="waves-effect waves-green btn-flat" (click)="makeSale()">Vender</a>
    <a class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
  </div>
</div>
