<nav class="navbar navbar-default navbar-fixed">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand" href="/"><img src="/assets/images/logo.png" alt="Logo"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a routerLink="/mi-sales">
            <img class="nav-logo servicios"/>Estudios
          </a>
        </li>
        <li>
          <a routerLink="/ph-sales">
            <img class="nav-logo servicios"/>Farmacia 
          </a>
        </li>
      </ul>
    </div>

  </div>
</nav>

<div class="app-container">
  <br />
  <br />
  <div>
    <router-outlet></router-outlet>
  </div>

</div>
