<nav class="navbar navbar-default navbar-fixed nav-first">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/"><img src="/assets/images/logo.png" alt="Logo"></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right" *ngIf="getUsr()">
        <li>
          <a>
            HOLA {{getUsr()}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="app-container">
  <router-outlet></router-outlet>
</div>
