<div class="top-container">

  <div *ngIf="pageModel.showGridSale">
    <div class="search-container">
      <div>
        <table>
          <tr>
            <td>
              Buscar por código de medicamento<br />
            </td>
            <td>
              ¿No encontraste el medicamento? Búscalo por nombre<br />
            </td>
          </tr>
          <tr>
            <td>
              <input [(ngModel)]="pageModel.hint" class="hint" (keyup.enter)="findDrug()" placeholder="Código" />
            </td>
            <td>
              <button (click)="searchDrug()" class="waves-effect waves-light btn">Buscar</button>
            </td>
          </tr>
        </table>
      </div>
      <br />

    </div>

    <div class="grid-container">
      <ag-grid-angular #agGrid style="width: 100%; height: 200px;" class="ag-fresh" [gridOptions]="gridOptions">
      </ag-grid-angular>
    </div>

    <div class="confirm-container">
      <div class="sale-total">
        Total:<span>$ {{getTotal()}}</span>
      </div>
      <button (click)="confirmSale()" class="waves-effect waves-light btn">Vender</button>
    </div>
  </div>

  <div *ngIf="sale?.length > 0 && pageModel.showConfirmSale">
    <div class="coMeEs_sentence">
      Por favor confirme los productos. <br /> Si la venta es correcta oprima "CONFIRMAR", si desea modificarla oprima "REGRESAR".
    </div>
    <br />
    <div>
      <span class="enhaced">Productos</span>

      <div class="info">
        <table>
          <thead>
            <td>
              Cantidad
            </td>
            <td>
              Nombre
            </td>
            <td>
              Descripición
            </td>
            <td>
              Precio de venta
            </td>
            <td>
              Importe
            </td>
          </thead>
          <tbody>
            <tr *ngFor="let s of sale">
              <td>
                {{s.qty}}
              </td>
              <td>
                {{s.name}}
              </td>
              <td>
                {{s.desc_sale}}
              </td>
              <td>
                {{s.price_discount}}
              </td>
              <td>
                {{s.price_total}}
              </td>

            </tr>

          </tbody>
        </table>
        <div class="right">
          Total: <span>$ {{getTotalDiscount()}}</span>
        </div>
      </div>
      <br />

      <div>
        <div>
          <p class="coMeEs_sentence_small"> ¿El cliente cuenta con código de descuento? Ingresalo </p>
        </div>
        <p>
          <input type="checkbox" class="filled-in" id="m-discount-toggler" [(ngModel)]="pageModel.toggleDiscount" />
          <label for="m-discount-toggler">Mostrar opciones de descuento</label>
        </p>
      </div>

      <div *ngIf="pageModel.toggleDiscount">
        <div class="container">
          <input class="hint" [(ngModel)]="pageModel.discountCode" (keyup.enter)="getDiscount()" placeholder="Código de descuento" />
        </div>

        <div *ngIf="pageModel.noFoundDiscount" class="coMeEs_sentence">
          No se ha encontrado descuento
        </div>

        <div *ngIf="pageModel.discountFound">
          <div class="discount-info">
            <span class="coMeEs_dark_bold">Descuento:</span>
            <span class="enhaced_discount">{{discount}} %</span>
          </div>
          <button (click)="applyDiscount()" class="waves-effect waves-light btn">Aplicar descuento</button>
        </div>

        <div class="discount-info" class="right" *ngIf="priceDiscount">
          <span class="coMeEs_dark_bold">Precio con descuento:</span>
          <span class="enhaced_price"> $ {{priceDiscount}}</span>
        </div>
      </div>

    </div>
  </div>

  <div *ngIf="pageModel.showConfirmSale" class="right">
    <button (click)="toConfirm()" class="waves-effect waves-light btn">PAGAR</button>
  </div>

  <div class="confirm-container" *ngIf="pageModel.toConfirm">
    <div class="total">
      Importe : <span>$ {{getTotal()}}</span>
    </div>
    <div class="total" *ngIf="pageModel.discountFound">
      Total a pagar con descuento: <span>$ {{getTotalDiscount()}}</span>
    </div>

    <div class="payment">
      <div class="payment-info">
        <div>
          <p>
            <input name="paymentType" type="radio" [(ngModel)]="pageModel.paymentType" value="cash" id="m-payment-cash" />
            <label for="m-payment-cash">Efectivo</label>
          </p>
          <p>
            <input name="paymentType" type="radio" [(ngModel)]="pageModel.paymentType" value="debit" id="m-payment-debit" />
            <label for="m-payment-debit">Tarjeta de débito</label>
          </p>
          <p>
            <input name="paymentType" type="radio" [(ngModel)]="pageModel.paymentType" value="credit" id="m-payment-credit" />
            <label for="m-payment-credit">Tarjeta de crédito</label>
          </p>
        </div>

        <div *ngIf="pageModel.paymentType == 'cash'">
          <div>
            <div>
              Importe recibido:
            </div>
            <div>
              $ <input [(ngModel)]="pageModel.amount" class="hint amount" placeholder="Importe" maxlength="5" />
            </div>
          </div>
          <div>
            Cambio:
          </div>
          <div>
            {{change()}}
          </div>
        </div>

        <div *ngIf="pageModel.paymentType == 'credit' || pageModel.paymentType == 'debit'">
          Pago con tarjeta<br /> Si la venta se facturará será necesario capturar <span class="enhaced">los últimos 4 dígitos</span> de la tarjeta.
        </div>
      </div>

    </div>

    <div class="right">
      <button (click)="makeSale()" class="waves-effect waves-light btn">CONFIRMAR</button>
    </div>
  </div>

</div>
