<div class="top-container">
  <div class="search-container">
    <div>
      Búsqueda de medicamento<br />
      <p>
        <input name="searchField" type="radio" [(ngModel)]="pageModel.searchType" value="substance" id="m-search-substance" />
        <label for="m-search-substance">Sustancia</label>
      </p>
      <p>
        <input name="searchField" type="radio" [(ngModel)]="pageModel.searchType" value="name" id="m-search-name" />
        <label for="m-search-name">Nombre</label>
      </p>

      <br />
      <input [(ngModel)]="pageModel.hint" class="hint" (keyup.enter)="searchDrug()" placeholder="Medicamento" />
    </div>

    <div class="grid-container">
      <ag-grid-angular #agGrid style="width: 100%; height: 200px;" class="ag-fresh" [gridOptions]="gridOptions">
      </ag-grid-angular>
    </div>
  </div>

  <div *ngIf="selectedDrug" class="selected-container">
    <div class="enhaced">
      <h5>Medicamento seleccionado</h5>
    </div>

    <table>
      <tr>
        <td style="width:200px;">
          Nombre:
        </td>
        <td class="enhaced">
          {{selectedDrug.name}}
        </td>
      </tr>
      <tr>
        <td>
          Sustancia:
        </td>
        <td class="enhaced">
          {{selectedDrug.substance}}
        </td>
      </tr>
      <tr>
        <td>
          Descripción:
        </td>
        <td class="enhaced">
          {{selectedDrug.pres_desc}} - {{selectedDrug.desc}}
        </td>
      </tr>
      <tr>
        <td>
          Laboratorio:
        </td>
        <td class="enhaced">
          {{selectedDrug.lab}}
        </td>
      </tr>
      <tr>
        <td>
          Precio de venta:
        </td>
        <td class="enhaced">
          $ {{selectedDrug.sale_price}}
        </td>
      </tr>
    </table>

    <div class="right">
      <button (click)="addToSale()" class="waves-effect waves-light btn">Agregar a la venta</button>
    </div>


  </div>

</div>
