.selected-container {
  width: 70%;
  margin: 0 auto;
}

.selected-container>table {
  width: 80%;
  margin: 0 auto;
}

.grid-container {
  width: 800px;
}

.enhaced {
  color: #125996;
  font-weight: bold;;
}
